:root {
  --primary-color: teal;
  --secondary-color: rgb(89, 88, 88);
  --border: solid black;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: 20px 10px;
  background-image: url("grey.jpg");
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin: 15px;
}
h2 {
  color: var(--secondary-color);
  text-align: center;
  margin: 10px;
}
h3 {
  color: var(--primary-color);
  text-align: center;
  font-size: 18px;
  margin: 15px;
}
div {
  text-align: center;
}
p {
  text-align: center;
}

.primary-link {
  background: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  margin-bottom: 30px;
  display: inline-block;
}
.secondary-link {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  margin-bottom: 30px;
  font-weight: bold;
  display: inline-block;
}
.resume-link {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  font-size: 20px;
}
.work-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.home-link {
  background: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.email-link {
  color: var(--primary-color);
}
.email-link:hover {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}
.github-link {
  color: var(--secondary-color);
  text-align: center;
}
.github-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}
